{% extends "base.html" %}
{% block title %} Записи {{ post.author.username }}{% endblock %}
{% block content %}


<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
                {% include "includes/author_card.html" with author=author post=post %}
        </div>
        <div class="col-md-9">
            {% if post %}
            {% include "includes/post_item.html" with post=post %}
            {% endif %}
            {% if items %}
            {% include "includes/comments.html" %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}