{% extends "base.html" %}
{% block title %} Записи {{ post.author.username }}{% endblock %}
{% block content %}


<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        {% if post.author %}
                       <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                            <!-- Имя автора -->
                                            {{ post.author.get_full_name }}
                                        </div>
                                        <div class="h3 text-muted">
                                             <!-- username автора -->
                                             {{ post.author.get_username }}
                                        </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                Подписчиков: {{ author.following.count }} <br />
                                                Подписан: {{ author.follower.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                    <!-- Количество записей -->
                                                    {{ post.author.posts.count }}
    
                                                </div>
                                        </li>
                                </ul>
                        </div>
                        {% endif %}
                </div>

        <div class="col-md-9">

                     {%if post %}
                    {% include "post_item.html" with post=post %}
                    {% endif %}
        {% if items %}
        {% include "comments.html" %}
        {% endif %}
     </div>
    </div>

{% endblock %}