{% extends "base.html" %}
{% block title %} Профиль автора {{ author.username }}{% endblock %}
{% block header %}Профиль автора {{ author.username }}{% endblock %}
{% block content %}


<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
                {% include "includes/author_card.html" with author=author post=post %}
        </div>
        <div class="col-md-9">
            {% for post in page %}
            {% include "includes/post_item.html" with post=post %}
            {% endfor %}
        </div>
<!-- Здесь постраничная навигация паджинатора -->
    {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
    </div>
</main>
{% endblock %}